@media (min-width: 310px) and (max-width: 390px) {
    nav {
        display: block;
    }

    .nav-phone {
        display: block;
    }
    
    
    .home-container {
        flex-direction: column;
    }

    .header-title {
        font-size: 12vw;
        margin-left: 16px;
    }

    .header-desc {
        font-size: 5vw;
        margin-left: 16px;
        
    }

    .img-bg img {
        max-width: 95%;
        height: auto;
    }

    section {
        flex-direction: column;
    }

    /* Card */

    .cards-container {
        flex-direction: column;
    }

    .card {
        margin-bottom: 16px;
    }

    .card:last-child {
        margin-bottom: 0px;
    }

    footer {
        flex-direction: column;
    }
}